[Desktop Entry]
Name=Antigravity
Comment=Google Antigravity — Build the new way
Exec=antigravity %U
Icon=${SNAP}/share/icons/hicolor/256x256/apps/antigravity.png
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=Antigravity
